* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Fira Code";
  font-size: 20px;
  min-width: 24px;
  min-height: 24px;
}

window#waybar {
  all:unset;
  transition-property: background-color;
  transition-duration: 0.1s;
}

window#waybar.hidden {
  opacity: 0.1;
}



#workspaces button {
  all: unset;
  margin:10 -2 10 0;
  padding: 0px 0px;
  transition: all .2s ease;
  color: #cccccc;
}

.modules-center {
    padding:0px 20px;
    margin:10 0 5 0;
    border-radius:40px;
    background: alpha(#1a1a1a, .9);
}

.modules-left {
    padding:5px;
    margin:10 10 5 10;
    border-radius:40px;
    background: alpha(#1a1a1a, .9);
}
.modules-right {
    padding:0px 20px;
    margin:10 10 5 0;
    border-radius:40px;
    background: alpha(#1a1a1a, .9);
}



#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button.active {
  margin: 0 2 0 0;
}



#custom-logo {
  padding-right: 7px;
  font-size: 15px;
  border-radius: 0px 0px 0px 8px;
  color: #ffffff;
  font-size: 25;
}



#clock {
  padding: 0px 5px;
  color: #cccccc;
  background-color: #1a1a1a;
}

#custom-power {
  background-color: #f2cdcd;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

#memory {
  color: #cccccc;
}


tooltip label {
  padding: 5px;
  background-color: #131822;
}
